.skills {
    text-align: center;
    margin-top: 50px;
  }
  
  .skills h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .skills-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .skill-item {
    background-color: #f1f1f1;
    color: #333;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 10px;
  }
  